$title: rgb(255, 255, 255);
$text: rgb(255, 255, 255);
$bg: rgb(23, 24, 54);
$accent: rgb(245, 68, 59);
$tags: rgb(59, 245, 189);

// @function max($numbers...) {
//   @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//   @return m#{i}n(#{$numbers});
// }